body {
    padding: 10px;
    top: 0;
    left: 0;
}

#box {
    width: 600px;
    height: 100%;
    margin: 0px auto;
    padding: 5%;
    border: 2px solid black;
}


.table {
    margin: 0 auto;
    display: none;
    width:85%;
}

.card {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 250px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.alertWrapper {
    width: 80%;
}

.nextWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
}


/* The alert message box */
.alert {
    background-color: #f44336; /* Red */
    height: 100%;
    color: white;
    display: none;
    padding: 2px;
    justify-content: center;
    align-items: center;
}

/* The close button */
.closebtn {
    text-align: center;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.tableWrapper {
    overflow-x:auto;
    border: 1px solid #a9a9a9;
}


/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
    #box {
        width: 100%;
    }

    .table {
        width: 100%;
    }
}
